body{
	margin: 0;
	background-image: url("../img/backgroundGame.png");
	background-size: cover;
}

header{
	background-color: transparent;
	width: 100%;
	height: 30px;
	padding: 20px 0px;
	top:2px;
}

main{
	background-color: transparent;
	width: 100%;
	height: 500px;
}

footer{
	width: 100%;
	position: absolute;
  bottom: 0;
}

h3{
	display: inline-block;
    background-color: yellow;
    width: 100px;
    text-align: center;
    padding: 10px;
    border-radius: 25px;
}

a.back{
	text-decoration: none;
	font-weight: 600;
	display: inline-block;
	float: right;
  background-color: orange;
  width: 150px;
  text-align: center;
  padding: 10px;
  border-radius: 25px;
  position: relative;
  top: -60px;
  right: 10px;
}

#player{
	width:100px;
	height: 25px;
	background-color: yellow;
	position: relative;
	border: 5px solid darkorange;
	left: 650px;
  margin-bottom: 50px;
}

#bottom {
  height: 5px;
}

#winner {
  width: 640px;
  height: 360px;
  margin: 0 auto;
  display: none;
  -webkit-animation: winner 1.5s linear;
}

#score{
	margin: 0 10px;
	padding: 0 10px;
}

.score{
	margin: 0 10px;
	padding: 0 10px;
}

.reload {
  background-color: yellow;
  text-decoration: none;
  font-weight: 600;
  display: block;
  width: 150px;
  margin: 20px auto;
  text-align: center;
  padding: 10px;
  border-radius: 25px;

}

/*@keyframes move {
    0%   {top: 0px;}
    100% {top: 600px;}
}*/

/*.enemy{
	width:50px;
	height: 50px;
	background-color: red;
	position: relative;
	left: 250px;
	top: 0px;
}*/

.newEnemy{
	display: inline-block;
	width:60px;
	height: 60px;
	background-image: url("../img/bomb.png");
	position: absolute;
	/*top: -130px;*/
	/*animation-name: move;*/
	/*animation-duration: 4s;*/
}

.scoreBoard{
	margin: 0px 10px;
}

@-webkit-keyframes winner {
  0% { width: 0; height: 0; }
  40% { width: 640px; height: 360px; }
  60% { -webkit-transform: rotate(0deg); }
  80% { -webkit-transform: rotate(360deg); }
  1000% { -webkit-transform: rotate(360deg); }
}



